.body {
  /* margin-top: 20px; */
  min-height: 100vh;
}

.carouselContainer {
  margin: 0 auto;
  width: 60vw;
}

.banner {
  width: 100%;
  object-fit: contain;
  box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
}

.startingPointImg {
  margin: 4rem auto;
  width: 95vw;
  height: auto;
  transform: translateX(-2800px);
}

.sfondo1 {
  transform: translateX(0);
  margin: 4rem auto;
  width: 95vw;
  height: auto;
  transition: all 2s ease;
}

.sfondo1 img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 7px 10px 12px 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 7px 10px 12px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 7px 10px 12px 3px rgba(0, 0, 0, 0.8);
}

.background {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

.overflow {
  overflow-x: hidden;
}

.startingPointText {
  transform: translateY(2500px);
}

.section1 {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  transition: all ease 3s;
  transform: translateX(0);
  transform: translateY(0);
}

.section2 {
  padding: 3rem 3rem;
  background-color: #041f04c6;
  box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
}

.payoff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payoff span {
  letter-spacing: 3px;
  font-family: "Ubuntu";
}

.buttonToStore {
  /* width: 10% !important; */
  min-width: 10%;
  margin: 0 auto;
  margin-top: 2rem !important;
  color: gold;
  font-size: large;
  padding: 20px 30px;
  background: #010102c6;
  background: linear-gradient(180deg, #011903 0%, #16b307 100%);
  background: -webkit-linear-gradient(180deg, #15171e 0%, #152855 100%);
  background: -moz-linear-gradient(180deg, #15171e 0%, #152855 100%);
  border: 1px solid gold;
  border-radius: 20%;
  transition: all 0.3s;
  box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -2px 8px 13px 3px rgba(0, 0, 0, 0.69);
}

.buttonToStore:hover {
  border: 0.5px solid rgb(255, 255, 255);
  transform: scale(1.03);
}

@media screen and (max-width: 470px) {
  .buttonToStore {
    font-size: small;
  }
}
