.container {
  background-color: #014414;
  text-align: center;
  font-size: smaller;
  padding: 1rem 0 2rem;
  min-width: 100vw;
}

.container .small {
  font-size: 14px;
}

.child {
  padding-bottom: 2px;
}

.child:hover {
  text-decoration: underline;
}
